<!DOCTYPE html>
<html>
  <head>
    <title>Is The G Running</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59673522-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-59673522-9');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport"             content="width=device-width, initial-scale=1">
    <meta property="og:url"           content="http://isthegrunning.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Is The G Running" />
    <meta property="og:description"   content="Is The G Running? We utilize live MTA inforation so you can stay up-to-date on the G subway train line" />
    <meta name="description"          content="Is The G Running? We utilize live MTA inforation so you can stay up-to-date on the G subway train line" />
    <meta property="og:image"         content="http://isthegrunning.com/assets/bg02.jpg" />
    <link rel="icon" type="image/png" href="assets/icons/favicon.ico"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
